/*_grid-display.scss*/

/**** GRID DISPLAY STATES
*=======================================================================*/
/*===== Mobile display =====*/
.is-displayed-mobile {

  @include mq(split-sm) {
    display: block;
    @at-root (with: media) {

      .is-hidden-mobile {
        display: none;
      }

    }

  }

  @include mq(split-md) {
    display: none;
  }

}
