/*_config.scss*/

/**** GLOBAL CONFIGURATION
*=======================================================================*/
/*===== Font sources =====*/
// $font-url--google         : "http://fonts.googleapis.com/css?family=Prata|Open+Sans:400,600,700,800,300|Open+Sans+Condensed:300,700";

/*===== Font stacks =====*/
$font-family--default     : "source_sans_pro-light", "open_sans-light", Arial, sans-serif, serif;
$font-family--emphasized  :  "Hoefler Text", "aleo-light", "source_sans_pro-regular", "open_sans-regular", Arial, sans-serif, serif;
$font-family--primary     : Garamond, Baskerville, "prata-regular", "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
$font-family--secondary   : "aleo-regular", "prata-regular", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
$font-family--tertiary    : "aleo-light", "prata-regular", Baskerville, Garamond, "prata-regular", "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;

/*===== Font weights =====*/
$font-weight--thin        : 100;
$font-weight--ultra-light : 200;
$font-weight--light       : 300;
$font-weight--normal      : 400;
$font-weight--medium      : 500;
$font-weight--demi-bold   : 600;
$font-weight--bold        : 700;
$font-weight--ultra-bold  : 800;
$font-weight--heavy       : 900;

/*===== Descriptive true-base colors =====*/
$transparent              : transparent;
$prussian-blue            : #003153;
$pacific-blue             : #009DC4;
$blue-charcoal            : #010D1A;
$midnight                 : #011635;
$black                    : #0B0B0B;
$java                     : #1FC2C2;
$ebony-clay               : #222F40;
$jungle-green             : #29AB87;
$st-tropaz                : #2D569B;
$scooter                  : #2EBFD4;
$tuna                     : #31353F;
$meteorite                : #3C1F76;
$steel-blue               : #4682B4;
$havelock-blue            : #5590D9;
$fountain-blue            : #56B4BE;
$emerald                  : #5ECE7F;
$purple-heart             : #652DC1;
$studio                   : #714AB2;
$grey                     : #797E83;
$stiletto                 : #9C3336;
$heather                  : #B7C3D0;
$milano-red               : #B81104;
$guardsman-red            : #BA0101;
$monza                    : #C7031E;
$sunglo                   : #E16865;
$tango                    : #ED7A1C;
$porcelain                : #EFF2F3;
$sun-glow                 : #FFCC33;
$coral                    : #FF7F50;
$white                    : #FFFFFF;

/*===== Descriptive approximate-base colors =====*/
$sorta_midnight           : #001929;
$sorta_prussian-blue      : #002E4D;
$sorta_regal-blue         : #004570;
$sorta_bahama-blue        : #005B94;
$sorta_green-vogue        : #022557;
$sorta_catalina-blue      : #04357A;
$sorta_congress-blue      : #06459E;
$sorta_cod-gray           : #1C1C1C;
$sorta_mine-shaft         : #252525;
$sorta_dark-burgundy      : #7D0C0D;

/*===== Color usage =====*/
$color-primary            : $pacific-blue;
$color-secondary          : $prussian-blue;
$color-accent             : $emerald;
$color-shadow             : rgba($black, .2);

/*===== User interface colors map =====*/
$ui-colors: (
  default                 : $ebony-clay,
  success                 : $jungle-green,
  error                   : $sunglo,
  warning                 : $guardsman-red,
  info                    : $sorta_dark-burgundy,
  clear                   : $transparent
);

/*===== Color palette modifiers map =====*/
$color-palettes: (
  grey: (
    xx-light              : lighten($grey, 36%),
    x-light               : lighten($grey, 27%),
    light                 : lighten($grey, 8%),
    base                  : $grey,
    dark                  : darken($grey, 8%),
    x-dark                : darken($grey, 16%),
    xx-dark               : darken($grey, 24%)
  ),
  black: (
    xx-light              : lighten($black, 23%),
    x-light               : lighten($black, 15%),
    light                 : lighten($black, 10%),
    base                  : $black,
    dark                  : darken($black, 10%)
  ),
  white: (
    light                 : lighten($white, 8%),
    base                  : $white,
    dark                  : darken($white, 8%)
  )
);

/*===== Text =====*/
$base__font-size          : 16px;
$base__line               : 24px;
$letter-space             : 1px;

/*===== Border radius =====*/
$br--default              : .2em;
$br--round                : 50%;
$br--circle               : 100%;

/*===== Transition duration =====*/
$trnstn-xx-quick          : .15s;
$trnstn-x-quick           : .3s;
$trnstn-quick             : .5s;
$trnstn-medium            : 1s;
$trnstn-slow              : 3s;
$trnstn-x-slow            : 5s;

/*===== Cubic-Benzier duration =====*/
$trnstn-show-box          : cubic-bezier(.4, 1.3, .65, 1);

/*===== Path to assets =====*/
$path--rel                : "../images";

/*===== Grid variables =====*/
$g-col-width              : 65px;
$g-gutter-width           : 20px;
$g-col-count              : 12;
$g-cont-max-w             : 1600px;
// $g-cont-max-w             : 1050px;

/*===== Media query breakpoints =====*/
$brkpnt-xl                : 1680px;
$brkpnt-lg                : 1280px;
$brkpnt-md                : 980px;
$brkpnt-sm                : 736px;
$brkpnt-xs                : 480px;
$brkpnt-us                : 281px;

/*===== Media query "splitpoints" =====*/
$spltpnt-lg               : 1100px;
$spltpnt-md               : 768px;
$spltpnt-sm               : 1px;
