/*_font_mixins.scss*/

/**** FONT MIXINS
*=======================================================================*/
/*===== Font-face webfonts mixins =====*/
@font-face {
  font-family: 'aleo-bold';
  src: url('../fonts/Aleo-Bold-webfont.eot');
  src: url('../fonts/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Aleo-Bold-webfont.woff') format('woff'),
       url('../fonts/Aleo-Bold-webfont.ttf') format('truetype'),
       url('../fonts/Aleo-Bold-webfont.svg#aleobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo-light';
  src: url('../fonts/Aleo-Light-webfont.eot');
  src: url('../fonts/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Aleo-Light-webfont.woff') format('woff'),
       url('../fonts/Aleo-Light-webfont.ttf') format('truetype'),
       url('../fonts/Aleo-Light-webfont.svg#aleolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo-regular';
  src: url('../fonts/Aleo-Regular-webfont.eot');
  src: url('../fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Aleo-Regular-webfont.woff') format('woff'),
       url('../fonts/Aleo-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans-bold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans-extrabold';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
       url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans-light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff'),
       url('../fonts/opensans-light-webfont.ttf') format('truetype'),
       url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans-regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'open_sans-semibold';
src: url('../fonts/opensans-semibold-webfont.eot');
src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
     url('../fonts/opensans-semibold-webfont.woff') format('woff'),
     url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
     url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'prata-regular';
  src: url('../fonts/prata-regular-webfont.eot');
  src: url('../fonts/prata-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/prata-regular-webfont.woff2') format('woff2'),
       url('../fonts/prata-regular-webfont.woff') format('woff'),
       url('../fonts/prata-regular-webfont.ttf') format('truetype'),
       url('../fonts/prata-regular-webfont.svg#prataregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-black';
  src: url('../fonts/sourcesanspro-black-webfont.eot');
  src: url('../fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-black-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-bold';
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-extralight';
  src: url('../fonts/sourcesanspro-extralight-webfont.eot');
  src: url('../fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-light';
  src: url('../fonts/sourcesanspro-light-webfont.eot');
  src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-regular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_pro-semibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
