/*_helpers.scss*/

/**** HELPERS
*=======================================================================*/
/*===== Clearfix placeholder =====*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

/*===== Screen reader text placeholder =====*/
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

/*===== Center alignment placeholder =====*/
%center-align {
  text-align: center;
}

/*===== Pseudo-elements placeholder =====*/
%pseudos {
  display: block;
  content: "";
  position: absolute;
}

/*===== Center elements helper =====*/
.centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
