/*_mixins.scss*/

/**** BEM SELECTORS MIXIN
*=======================================================================*/
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/**** MEDIA QUERIES MIXIN
*=======================================================================*/
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint-md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  }
   @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}

/**** GENERATE MODIFIER COLOR CLASSES MIXIN
*=======================================================================*/
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

/**** GENERATE :BEFORE OR :AFTER PSEUDO-ELEMENT SHAPES MIXIN
*=======================================================================*/
@mixin p-el(
  $el,
  $el-w: null,
  $el-h: null) {
  @if $el == "before" or $el == "after" {
    &:#{$el} {
      @extend %pseudos;
      height: $el-h;
      width: $el-w;
      @content;
    }
  }
  @else {
    @error "`#{$el}` is not a valid pseudo-element.";
  }
}

/**** BACKGROUND IMAGE REPLACEMENT MIXIN
*=======================================================================*/
@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  height: $h;
  width: $w;
  display: $disp;
}

/**** ADJACENT SIBLING MARGINS MIXIN
*=======================================================================*/
@mixin doubly($margin: 1rem) {
  & + & {
    margin-left: $margin;
    @content;
  }
}

/**** GRID COLUMNS MIXIN
*=======================================================================*/
@mixin g-columns {
  @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

    // Generate column modifier classes
    &--#{$i} {
      width: percentage($target / $context);
    }
  }
}
