@charset "UTF-8";
/*main.scss*/
/**** MAIN MANIFEST
*=======================================================================*/
/*===== Import utilities =====*/
/*_index.scss*/
/**** UTILITIES MANIFEST
*=======================================================================*/
/*===== Import font mixins =====*/
/*_font_mixins.scss*/
/**** FONT MIXINS
*=======================================================================*/
/*===== Font-face webfonts mixins =====*/
@font-face {
  font-family: 'aleo-bold';
  src: url("../fonts/Aleo-Bold-webfont.eot");
  src: url("../fonts/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Bold-webfont.woff") format("woff"), url("../fonts/Aleo-Bold-webfont.ttf") format("truetype"), url("../fonts/Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleo-light';
  src: url("../fonts/Aleo-Light-webfont.eot");
  src: url("../fonts/Aleo-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Light-webfont.woff") format("woff"), url("../fonts/Aleo-Light-webfont.ttf") format("truetype"), url("../fonts/Aleo-Light-webfont.svg#aleolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aleo-regular';
  src: url("../fonts/Aleo-Regular-webfont.eot");
  src: url("../fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans-bold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans-extrabold';
  src: url("../fonts/opensans-extrabold-webfont.eot");
  src: url("../fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("../fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans-light';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans-regular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans-semibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'prata-regular';
  src: url("../fonts/prata-regular-webfont.eot");
  src: url("../fonts/prata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prata-regular-webfont.woff2") format("woff2"), url("../fonts/prata-regular-webfont.woff") format("woff"), url("../fonts/prata-regular-webfont.ttf") format("truetype"), url("../fonts/prata-regular-webfont.svg#prataregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-black';
  src: url("../fonts/sourcesanspro-black-webfont.eot");
  src: url("../fonts/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-black-webfont.woff") format("woff"), url("../fonts/sourcesanspro-black-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-black-webfont.svg#source_sans_problack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-bold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-extralight';
  src: url("../fonts/sourcesanspro-extralight-webfont.eot");
  src: url("../fonts/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralight-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-extralight-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralight-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-light';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-regular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_pro-semibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*===== Import global configuration =====*/
/*_config.scss*/
/**** GLOBAL CONFIGURATION
*=======================================================================*/
/*===== Font sources =====*/
/*===== Font stacks =====*/
/*===== Font weights =====*/
/*===== Descriptive true-base colors =====*/
/*===== Descriptive approximate-base colors =====*/
/*===== Color usage =====*/
/*===== User interface colors map =====*/
/*===== Color palette modifiers map =====*/
/*===== Text =====*/
/*===== Border radius =====*/
/*===== Transition duration =====*/
/*===== Cubic-Benzier duration =====*/
/*===== Path to assets =====*/
/*===== Grid variables =====*/
/*===== Media query breakpoints =====*/
/*===== Media query "splitpoints" =====*/
/*===== Import functions =====*/
/*_functions.scss*/
/**** FUNCTIONS
*=======================================================================*/
/*===== Import if Google Fonts URL is defined =====*/
/*===== Converts pixels to rem values =====*/
/*===== Call the color palette modifiers in color values =====*/
/*===== Establish the base context width for fluid width of grid =====*/
/*===== String replacer =====*/
/*===== Deep get in maps =====*/
/*===== Linear gradient converter =====*/
/*===== Import helpers =====*/
/*_helpers.scss*/
/**** HELPERS
*=======================================================================*/
/*===== Clearfix placeholder =====*/
.grid:after {
  content: "";
  display: table;
  clear: both; }

/*===== Screen reader text placeholder =====*/
.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute; }

/*===== Center alignment placeholder =====*/
.panel--centered, .panel--padded--centered, .panel--main--centered, [class^="btn--"] {
  text-align: center; }

/*===== Pseudo-elements placeholder =====*/
.icn--nav-toggle:before {
  display: block;
  content: "";
  position: absolute; }

/*===== Center elements helper =====*/
.centered, .grid {
  float: none;
  margin-right: auto;
  margin-left: auto; }

/*===== Import mixins =====*/
/*_mixins.scss*/
/**** MIXINS
*=======================================================================*/
/*===== BEM element selector mixin =====*/
/*===== BEM modifier selector mixin =====*/
/*===== Media queries =====*/
/*===== Generate background modifier color classes =====*/
/*===== Generate background modifier color classes =====*/
/*===== Generate modifier color-gradient classes =====*/
/*===== Generate :before or :after pseudo-element shapes =====*/
/*===== Background image replacement =====*/
/*===== Adjacent sibling margins =====*/
/*===== Grid columns =====*/
/*===== Import base styles =====*/
/*_index.scss*/
/**** BASE MANIFEST
*=======================================================================*/
/*===== Import normalize reset =====*/
/*_normalize.scss*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, label, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*===== Import base =====*/
/*_base.scss*/
/**** BASE STYLES
*=======================================================================*/
/*===== Box-sizing style =====*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*===== Body style =====*/
html, body {
  color: #797E83;
  font-size: 16px;
  overflow-x: hidden; }

/*===== Text style =====*/
h4 {
  margin-top: 1.57143rem;
  margin-bottom: 2.28571rem;
  color: #c0c3c5;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 1.25rem; }

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25rem; }
  @media (min-width: 769px) {
    blockquote {
      margin: 1.33333rem 0;
      padding: 0 0 0 5%;
      border-left: 0.33333rem solid #d8dadb;
      font-size: 1.5rem; } }

/*===== Links style =====*/
a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500; }

/*===== Lists style =====*/
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/*===== Images style =====*/
img {
  margin-bottom: 1.5rem;
  max-width: 100%;
  height: auto; }

/*===== Form elements style =====*/
input, textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus, textarea:focus {
  transition: 0.3s; }

/*===== Button style =====*/
button {
  outline: 0; }

/*===== Footer style =====*/
footer {
  border-top: 1px solid #d8dadb; }
  footer p {
    font-size: 1rem;
    margin-top: 1.375rem; }

/*===== Import layout styles =====*/
/*_index.scss*/
/**** LAYOUT MANIFEST
*=======================================================================*/
/*===== Import placeholder selectors =====*/
/*_extends.scss*/
/**** BASE LAYOUT EXTENSTION PLACEHOLDER SELECTORS
*=======================================================================*/
.panel, .panel--centered {
  padding-top: 1.875rem; }
  @media (min-width: 769px) {
    .panel, .panel--centered {
      padding-bottom: 1.25rem; } }

.panel--padded, .panel--padded--centered {
  padding-top: 2.125rem; }
  @media (min-width: 769px) {
    .panel--padded, .panel--padded--centered {
      padding-top: 5rem;
      padding-bottom: 2.125rem; } }

.panel--main, .panel--main--centered {
  padding-top: 2.5rem; }
  @media (min-width: 769px) {
    .panel--main, .panel--main--centered {
      padding-top: 5rem;
      padding-bottom: 18.75rem; } }

/*===== Import grid columns =====*/
/*_grid-columns.scss*/
/**** GRID COLUMNS
*=======================================================================*/
/*===== Calculate grid columns =====*/
@media (min-width: 769px) {
  .grid__col {
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/
    /*===== Generate column modifier classes =====*/ }
    .grid__col--1 {
      width: 6.5%; }
    .grid__col--2 {
      width: 15%; }
    .grid__col--3 {
      width: 23.5%; }
    .grid__col--4 {
      width: 32%; }
    .grid__col--5 {
      width: 40.5%; }
    .grid__col--6 {
      width: 49%; }
    .grid__col--7 {
      width: 57.5%; }
    .grid__col--8 {
      width: 66%; }
    .grid__col--9 {
      width: 74.5%; }
    .grid__col--10 {
      width: 83%; }
    .grid__col--11 {
      width: 91.5%; }
    .grid__col--12 {
      width: 100%; } }

/*===== Column styles =====*/
@media (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; } }
@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 0.0625rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

/*===== Import grid container =====*/
/*_grid-container.scss*/
/**** GRID CONTAINER
*=======================================================================*/
.grid {
  width: 90%;
  /*===== Make nested grid 100% =====*/
  /*===== Set a max-width for grid container =====*/ }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1600px; } }

/*===== Import panel layout =====*/
/*_panel.scss*/
/**** PANEL LAYOUT
*=======================================================================*/
/*===== Import scrollbar layout =====*/
/*_scroll.scss*/
/**** SCROLLBAR
*=======================================================================*/
/*===== Scrollbar features =====*/
::-webkit-scrollbar {
  width: 0.09375rem;
  background: rgba(11, 11, 11, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(26, 32, 63, 0.9); }

::-webkit-scrollbar-track {
  background: none; }

/*===== Import modules =====*/
/*_index.scss*/
/**** MODULES MANIFEST
*=======================================================================*/
/*===== Import about =====*/
/*_about.scss*/
/**** ABOUT SECTION
*=======================================================================*/
#about {
  text-align: center; }

/*===== Import buttons =====*/
/*_buttons.scss*/
/**** BUTTONS
*=======================================================================*/
.btn--default {
  border: 0.125rem solid #222F40; }
.btn--success {
  border: 0.125rem solid #29AB87; }
.btn--error {
  border: 0.125rem solid #E16865; }
.btn--warning {
  border: 0.125rem solid #BA0101; }
.btn--info {
  border: 0.125rem solid #009DC4; }
.btn--clear {
  border: 0.125rem solid transparent; }

[class^="btn--"] {
  padding: 0.9375rem 1.875rem;
  margin-bottom: 0.71429rem;
  width: auto;
  display: inline-block; }
  @media (min-width: 769px) {
    [class^="btn--"] {
      margin: auto 0.9375rem; } }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="btn--"] {
      width: 100%;
      display: block; } }

/*===== Import case =====*/
/*_case.scss*/
/**** CASE
*=======================================================================*/
.case {
  /*===== Banner image =====*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/ali/banner-home.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/ali/banner-home.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/ali/banner-home.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/ali/banner-home.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/ali/banner-home.jpg");
  /*===== Banner footer screen =====*/ }
  .case #footer {
    background-color: rgba(26, 32, 63, 0.9); }

/*===== Import design tests =====*/
/*design_tests.scss*/
/**** DESIGN TEST BUTTONS
*=======================================================================*/
.design_test {
  background-color: #B202B2;
  border: 2px solid #000033;
  border-radius: 10px;
  margin: 23.52px 0 32px;
  max-width: 710px; }
  .design_test a {
    color: #E80000;
    font-weight: 600;
    text-decoration: none; }

.test_button {
  display: inline-block;
  background-color: #CBCACA;
  border: 1px solid #000066;
  border-radius: 10px;
  padding: 16px 18px;
  margin: 16px; }

/*===== Hover state =====*/
.design_test a:hover {
  background-color: #4F4F4F;
  color: #31157A; }

/*===== Import Elevator.js style =====*/
/*_elevator.scss*/
/**** ELEVATOR.JS STYLE
*=======================================================================*/
.elevator {
  cursor: pointer;
  width: 8.75rem;
  margin: auto;
  transition: opacity 0.5s; }
  .elevator svg {
    width: 6.25rem;
    height: 6.25rem;
    display: block;
    margin: auto;
    margin-bottom: 0.3125rem; }

/*===== Import placeholder selectors =====*/
/*_extends.scss*/
/**** BASE STYLE EXTENSTION PLACEHOLDER SELECTORS
*=======================================================================*/
/*===== Arrow (slideshow) features =====*/
.side-scroller .arrow {
  box-shadow: 0.125rem -0.125rem 0 0.0625rem #8e9297;
  cursor: pointer;
  margin: 0.15625rem;
  padding: 0.64375rem;
  position: absolute;
  transition: opacity 0.5s; }
  .side-scroller .arrow:hover {
    box-shadow: 0.125rem -0.125rem 0 0.0625rem #c0c3c5; }
  .side-scroller .arrow:before {
    content: '';
    position: absolute; }

/*===== Button features =====*/
[class^="btn--"], .form__btn {
  background-color: transparent;
  border-radius: 0.2em;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "source_sans_pro-light", "open_sans-light", Arial, sans-serif, serif;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; }

/*===== Case features =====*/
.case {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  width: 100%; }

/*===== Dimmer action features =====*/
.elevator:hover, .img--project-preview:hover {
  opacity: .67; }
.elevator:active, .img--project-preview:active {
  opacity: initial; }

/*===== Filler action features =====*/
[class^="btn--"]:hover {
  background-color: #BA0101; }

/*===== Headline features =====*/
h1, .headline-primary, .headline-primary--grouped, .headline-primary--minor {
  color: #FFFFFF;
  font-family: Garamond, Baskerville, "prata-regular", "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  font-weight: 600;
    line-height: 5rem;
    margin-top: 18.75rem;
  margin-bottom: 2.5rem;
    width: 100%; }

.headline-primary, .headline-primary--grouped {
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== Prints a media query based on the value =====*/ }
  @media (min-width: 1280px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 5rem; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 4.5rem; } }
  @media (min-width: 737px) and (max-width: 980px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 4rem; } }
  @media (min-width: 481px) and (max-width: 736px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 3.5rem; } }
  @media (min-width: 282px) and (max-width: 480px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 3rem; } }
  @media (1px) and (max-width: 281px) {
    .headline-primary, .headline-primary--grouped {
      font-size: 2.5rem; } }

.headline-primary--minor {
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== Prints a media query based on the value =====*/ }
  @media (min-width: 1280px) {
    .headline-primary--minor {
      font-size: 2.0625rem; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    .headline-primary--minor {
      font-size: 1.98438rem; } }
  @media (min-width: 737px) and (max-width: 980px) {
    .headline-primary--minor {
      font-size: 1.90625rem; } }
  @media (min-width: 481px) and (max-width: 736px) {
    .headline-primary--minor {
      font-size: 1.82813rem; } }
  @media (min-width: 282px) and (max-width: 480px) {
    .headline-primary--minor {
      font-size: 1.75rem; } }
  @media (1px) and (max-width: 281px) {
    .headline-primary--minor {
      font-size: 0.9375rem; } }

h2, .headline-secondary, .headline-secondary--grouped {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-family: "aleo-regular", "prata-regular", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  font-weight: 700;
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== Prints a media query based on the value =====*/ }
  @media (min-width: 1280px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1.9375rem; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1.86563rem; } }
  @media (min-width: 737px) and (max-width: 980px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1.79375rem; } }
  @media (min-width: 481px) and (max-width: 736px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1.72188rem; } }
  @media (min-width: 282px) and (max-width: 480px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1.65rem; } }
  @media (1px) and (max-width: 281px) {
    h2, .headline-secondary, .headline-secondary--grouped {
      font-size: 1rem; } }

h3, .headline-tertiary, .headline-tertiary--grouped {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-family: "aleo-light", Baskerville, Garamond, "prata-regular", "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  font-weight: 400;
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== Prints a media query based on the value =====*/ }
  @media (min-width: 1280px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 1.5625rem; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 1.52344rem; } }
  @media (min-width: 737px) and (max-width: 980px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 1.48438rem; } }
  @media (min-width: 481px) and (max-width: 736px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 1.44531rem; } }
  @media (min-width: 282px) and (max-width: 480px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 1.40625rem; } }
  @media (1px) and (max-width: 281px) {
    h3, .headline-tertiary, .headline-tertiary--grouped {
      font-size: 0.8125rem; } }

.headline-plaque {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-family: "source_sans_pro-light", "open_sans-light", Arial, sans-serif, serif;
  font-weight: 600;
  font-size: 1.125rem; }

/*===== Icon features =====*/
.icn--nav-toggle, .icn--close {
  line-height: 0;
  cursor: pointer; }

/*===== Image features =====*/
.img--avatar, .img--project-preview {
  display: block;
  margin: 0 auto; }

/*===== Navigation item features =====*/
@media (min-width: 769px) {
  .nav__item, .nav__item--current {
    display: inline-block;
    margin: 0 0.75rem; } }

.nav__item a, .nav__item--current a {
  border-bottom: 0.0625rem solid transparent;
  display: block;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.44444rem;
  text-align: center;
  transition: opacity 0.5s; }
  @media (min-width: 1px) and (max-width: 768px) {
    .nav__item a, .nav__item--current a {
      border-bottom-color: #d8dadb;
      padding-top: 0.77778rem;
      padding-bottom: 0.77778rem; } }

.nav__item a:hover, .nav__item--current a {
  color: #c0c3c5;
  border-color: #009DC4; }

/*===== Menu link features =====*/
.menu__link, .menu__link--end {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 0.0625rem rgba(11, 11, 11, 0.2);
  font-size: 1.0625rem; }

/*===== Paragraph features =====*/
p, .para-primary, .para-primary--grouped {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-family: "source_sans_pro-light", "open_sans-light", Arial, sans-serif, serif;
  font-weight: 100;
  line-height: 1.5;
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== If the key exists in the map =====*/
  /*===== Prints a media query based on the value =====*/ }
  @media (min-width: 1280px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 1.25rem; } }
  @media (min-width: 981px) and (max-width: 1280px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 1.1875rem; } }
  @media (min-width: 737px) and (max-width: 980px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 1.125rem; } }
  @media (min-width: 481px) and (max-width: 736px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 1.0625rem; } }
  @media (min-width: 282px) and (max-width: 480px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 1rem; } }
  @media (1px) and (max-width: 281px) {
    p, .para-primary, .para-primary--grouped {
      font-size: 0.8125rem; } }

/*===== Side-scroller features =====*/
.side-scroller {
  padding: 0 0.0625rem;
  position: absolute;
  top: -6.5%;
  width: 100%;
  z-index: 100; }

/*===== Slideshow scroller features =====*/
.overscroll {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: normal;
  vertical-align: top;
  white-space: normal; }

/*===== Import form elements =====*/
/*_forms.scss*/
/**** FORM ELEMENTS
*=======================================================================*/
.form__label {
  display: block;
  margin-bottom: 0.625rem; }
.form__input {
  font-size: 1.125rem;
  margin-bottom: 1.11111rem;
  border-bottom: 6px solid #c0c3c5;
  border-radius: 0.2em;
  background: #d8dadb;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #009DC4; }
.form__btn {
  background: #009DC4; }

/*===== Import headlines =====*/
/*_headlines.scss*/
/**** HEADLINES
*=======================================================================*/
.headline-primary {
  margin-bottom: 1.66667rem; }
.headline-secondary {
  margin-bottom: 0.91667rem; }
  .headline-secondary--grouped {
    margin-top: 0.41667rem;
    margin-bottom: 2.25rem; }
.headline-tertiary {
  margin-bottom: 0.91667rem; }
  .headline-tertiary--grouped {
    margin-top: 0.41667rem;
    margin-bottom: 2.25rem; }
.headline-plaque {
  margin-bottom: 0; }

/*===== Import icons =====*/
/*_icons.scss*/
/**** ICONS
*=======================================================================*/
/*===== Logo =====*/
.site-logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  height: 2.8125rem;
  width: 7.1875rem;
  display: inline-block; }

/*===== User interface =====*/
.icn {
  /*===== Navigation toggle =====*/
  /*===== Close icon =====*/ }
  .icn--nav-toggle {
    width: 25px;
    height: 17px;
    border-top: solid 3px #8e9297;
    border-bottom: solid 3px #8e9297;
    position: relative; }
    .icn--nav-toggle:before {
      height: 3px;
      width: 25px;
      background: #8e9297;
      top: 4px; }
  .icn--close {
    background-image: url("../images/icn-close.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: 4%;
    top: 4%; }

/*===== Import images =====*/
/*_img.scss*/
/**** IMAGES
*=======================================================================*/
.img--wrap {
  border: 0.0625rem solid #0B0B0B; }
.img--avatar {
  border-radius: 100%; }
.img--project-preview {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2em;
  margin-top: 1.25rem;
  transition: opacity 0.5s; }
  @media (min-width: 1100px) {
    .img--project-preview {
      width: 20rem; } }
  @media (min-width: 769px) {
    .img--project-preview {
      margin-bottom: 4.375rem;
      width: 100%; } }

/*===== Import layers =====*/
/*_layers.scss*/
/**** SECTION LAYERS
*=======================================================================*/
.layer--default {
  background-color: #222F40; }
.layer--success {
  background-color: #29AB87; }
.layer--error {
  background-color: #E16865; }
.layer--warning {
  background-color: #BA0101; }
.layer--info {
  background-color: #009DC4; }
.layer--clear {
  background-color: transparent; }

.layer-gradient--to-b {
  background: #001929;
  background: -webkit-linear-gradient(top, #001929 0%, #002E4D 48%, #004570 68%, #005B94 100%);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(bottom, #001929 0%, #002E4D 48%, #004570 68%, #005B94 100%);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(bottom, #001929 0%, #002E4D 48%, #004570 68%, #005B94 100%);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(to bottom, #001929 0%, #002E4D 48%, #004570 68%, #005B94 100%);
  /* Standard syntax */ }

/*===== Import menu =====*/
/*_menu.scss*/
/**** MENU
*=======================================================================*/
.menu {
  margin-top: 1.25rem; }
  .menu__link {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }

/*===== Import navigation =====*/
/*_nav.scss*/
/**** NAVIGATION
*=======================================================================*/
.nav {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem; }
  .nav__item a {
    color: #FFFFFF; }

/*===== Import navigation bar =====*/
/*_navbar.scss*/
/**** NAVIGATION BAR
*=======================================================================*/
.navbar {
  position: relative; }
  @media (min-width: 769px) {
    .navbar {
      margin-top: 3.3125rem;
      margin-bottom: 0; } }

/*===== Import paragraphs =====*/
/*_headlines.scss*/
/**** HEADLINES
*=======================================================================*/
.para-primary {
  margin: 0 0 1.66667rem; }
  .para-primary strong {
    font-family: "source_sans_pro-regular", "open_sans-regular", Arial, sans-serif, serif; }

/*===== Import projects =====*/
/*_projects.scss*/
/**** PROJECTS SECTION
*=======================================================================*/
@media (min-width: 1px) and (max-width: 768px) {
  #projects-page .project-display .project-summary {
    margin-bottom: 4.375rem; } }

/*===== Import sad browser =====*/
/*sad_browser.scss*/
/**** SAD BROWSER
*=======================================================================*/
.sad_browser {
  margin: 0.2em 0;
  background: #CCCCCC;
  color: #000000;
  padding: 0.2em 0; }

/*===== Import slideshow =====*/
/*_slideshow.scss*/
/**** SLIDESHOW
*=======================================================================*/
.slideshow {
  display: inline-block;
  position: relative;
  margin-bottom: 0.9375rem; }
  .slideshow > input {
    display: none; }
    @media (min-width: 769px) {
      .slideshow > input:nth-of-type(1):checked ~ ul li:first-of-type {
        margin-left: 0%; }
      .slideshow > input:nth-of-type(2):checked ~ ul li:first-of-type {
        margin-left: -100.7%; }
      .slideshow > input:nth-of-type(3):checked ~ ul li:first-of-type {
        margin-left: -200.7%; }
      .slideshow > input:nth-of-type(4):checked ~ ul li:first-of-type {
        margin-left: -301%; }
      .slideshow > input:nth-of-type(5):checked ~ ul li:first-of-type {
        margin-left: -401%; }
      .slideshow > input:nth-of-type(6):checked ~ ul li:first-of-type {
        margin-left: -501%; } }
    @media (min-width: 1px) and (max-width: 768px) {
      .slideshow > input:nth-of-type(1):checked ~ ul li:first-of-type {
        margin-left: -1%; }
      .slideshow > input:nth-of-type(2):checked ~ ul li:first-of-type {
        margin-left: -101.7%; }
      .slideshow > input:nth-of-type(3):checked ~ ul li:first-of-type {
        margin-left: -203%; }
      .slideshow > input:nth-of-type(4):checked ~ ul li:first-of-type {
        margin-left: -303.5%; }
      .slideshow > input:nth-of-type(5):checked ~ ul li:first-of-type {
        margin-left: -405%; }
      .slideshow > input:nth-of-type(6):checked ~ ul li:first-of-type {
        margin-left: -506%; } }
  .slideshow ul {
    position: relative;
    height: 31.25rem;
    line-height: 0;
    background-color: transparent;
    border-radius: 0.2em;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap; }
    @media (min-width: 1px) and (max-width: 768px) {
      .slideshow ul {
        border: 0.0625rem solid #0B0B0B; } }
  .slideshow.looper > input:first-of-type:checked ~ .side-scroller label.jump-end, .slideshow.looper input:nth-of-type(1):checked ~ .side-scroller > label:nth-of-type(0), .slideshow.looper input:nth-of-type(2):checked ~ .side-scroller > label:nth-of-type(1), .slideshow.looper input:nth-of-type(3):checked ~ .side-scroller > label:nth-of-type(2), .slideshow.looper input:nth-of-type(4):checked ~ .side-scroller > label:nth-of-type(3), .slideshow.looper input:nth-of-type(5):checked ~ .side-scroller > label:nth-of-type(4), .slideshow.looper input:nth-of-type(6):checked ~ .side-scroller > label:nth-of-type(5), .slideshow.looper input:nth-of-type(7):checked ~ .side-scroller > label:nth-of-type(6) {
    display: block;
    right: auto;
    left: 2.5%;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }
  .slideshow.looper > input:last-of-type:checked ~ .side-scroller label.jump-start, .slideshow.looper input:nth-of-type(1):checked ~ .side-scroller > label:nth-of-type(2), .slideshow.looper input:nth-of-type(2):checked ~ .side-scroller > label:nth-of-type(3), .slideshow.looper input:nth-of-type(3):checked ~ .side-scroller > label:nth-of-type(4), .slideshow.looper input:nth-of-type(4):checked ~ .side-scroller > label:nth-of-type(5), .slideshow.looper input:nth-of-type(5):checked ~ .side-scroller > label:nth-of-type(6), .slideshow.looper input:nth-of-type(6):checked ~ .side-scroller > label:nth-of-type(7) {
    display: block;
    right: 2.5%;
    left: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.side-scroller {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .side-scroller .arrow {
    display: none; }

.overscroll {
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: all 1s cubic-bezier(0.4, 1.3, 0.65, 1);
  -moz-transition: all 1s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 1s ease-out;
  transition: all 1s cubic-bezier(0.4, 1.3, 0.65, 1); }
  .overscroll p {
    padding: 0.9375rem; }

/*===== Import states =====*/
/*_index.scss*/
/**** STATES MANIFEST
*=======================================================================*/
/*===== Import collapsed states =====*/
/*_collapsed.scss*/
/**** COLLAPSED STATES
*=======================================================================*/
/*===== Import collapsed states =====*/
@media (min-width: 1px) and (max-width: 768px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

/*===== Import grid-display states =====*/
/*_grid-display.scss*/
/**** GRID DISPLAY STATES
*=======================================================================*/
/*===== Mobile display =====*/
@media (min-width: 1px) and (max-width: 768px) {
  .is-displayed-mobile {
    display: block; }
    .is-hidden-mobile {
      display: none; } }
@media (min-width: 769px) {
  .is-displayed-mobile {
    display: none; } }

/*===== Import themes =====*/
/*_index.scss*/
/**** STATES THEMES
*=======================================================================*/
/*===== Import plugins =====*/

/*# sourceMappingURL=main.css.map */
