/*main.scss*/
/**** MAIN MANIFEST
*=======================================================================*/
/*===== Import utilities =====*/
/*_index.scss*/
/**** UTILITIES MANIFEST
*=======================================================================*/
/*===== Import global configuration =====*/
/*_config.scss*/
/**** GLOBAL CONFIGURATION
*=======================================================================*/
/*===== Font stacks =====*/
/*===== Font weights =====*/
/*===== Descriptive base colors =====*/
/*===== Color usage =====*/
/*===== Color palette modifiers map =====*/
/*===== User interface colors map =====*/
/*===== Text =====*/
/*===== Border radius =====*/
/*===== Transitions =====*/
/*===== Path to assets =====*/
/*===== Grid variables =====*/
/*===== Media query breakpoints =====*/
/*
$brkpoint-xs              : "(max-width: 480px)";
$brkpoint-sm              : "(max-width: 736px)";
$brkpoint-md              : "(max-width: 980px)";
$brkpoint-lg              : "(max-width: 1280px)";
$brkpoint-xl              : "(max-width: 1680px)";
*/
/*===== Import functions =====*/
/*_functions.scss*/
/**** FUNCTIONS
*=======================================================================*/
/*===== Import if Google Fonts URL is defined =====*/
@import url("http://fonts.googleapis.com/css?family=Prata");
/*===== Converts pixels to rem values =====*/
/*===== Call the color palette modifiers in color values =====*/
/*===== Establish the base context width for fluid width of grid =====*/
/*===== String replacer =====*/
/*===== Deep get in maps =====*/
/*===== Import helpers =====*/
/*_helpers.scss*/
/**** HELPERS
*=======================================================================*/
/*===== Clearfix placeholder =====*/
.grid:after {
  content: "";
  display: table;
  clear: both; }

/*===== Screen reader text placeholder =====*/
.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute; }

/*===== Center alignment placeholder =====*/
.panel--centered, .panel--padded--centered, [class^="btn--"] {
  text-align: center; }

/*===== Pseudo-elements placeholder =====*/
.icn--nav-toggle:before {
  display: block;
  content: "";
  position: absolute; }

/*===== Center elements placeholder =====*/
.centered, .grid {
  float: none;
  margin-right: auto;
  margin-left: auto; }

/*===== Import mixins =====*/
/*_mixins.scss*/
/**** MIXINS
*=======================================================================*/
/*===== BEM selectors =====*/
/*===== Media queries =====*/
/*===== Generate modifier color classes =====*/
/*===== Generate :before or :after pseudo-element shapes =====*/
/*===== Background image replacement =====*/
/*===== Adjacent sibling margins =====*/
/*===== Grid columns =====*/
/*===== Import base styles =====*/
/*_index.scss*/
/**** BASE MANIFEST
*=======================================================================*/
/*===== Import normalize reset =====*/
/*_normalize.scss*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*===== Import base =====*/
/*_base.scss*/
/**** BASE STYLES
*=======================================================================*/
/*===== Box-sizing style =====*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*===== Body style =====*/
body {
  color: #797E83;
  font-size: 16px;
  font-family: "Hoefler Text", Baskerville, Prata, Garamond, "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
  line-height: 1.5; }

/*===== Text style =====*/
h3 {
  font-size: 1.125rem; }

h4 {
  margin-top: 1.57143rem;
  margin-bottom: 2.28571rem;
  color: #d6d7d9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.875rem; }

p {
  margin: 0 0 1.66667rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5; }

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25rem; }
  @media (min-width: 769px) {
    blockquote {
      margin: 1.33333rem 0;
      padding: 0 0 0 5%;
      border-left: 0.33333rem solid #ebecec;
      font-size: 1.5rem; } }

/*===== Links style =====*/
a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 500; }

/*===== Lists style =====*/
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/*===== Images style =====*/
img {
  margin-bottom: 1.5rem;
  max-width: 100%;
  height: auto; }

/*===== Form elements style =====*/
input, textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus, textarea:focus {
  transition: 0.3s; }

/*===== Button style =====*/
button {
  outline: 0; }

/*===== Footer style =====*/
footer {
  border-top: 1px solid #ebecec; }
  footer p {
    font-size: 1rem;
    margin-top: 1.375rem; }

/*===== Import layout styles =====*/
/*_index.scss*/
/**** LAYOUT MANIFEST
*=======================================================================*/
/*===== Import placeholder selectors =====*/
/*_extends.scss*/
/**** PLACEHOLDER SELECTORS
*=======================================================================*/
.panel, .panel--centered {
  padding-top: 1.875rem; }
  @media (min-width: 769px) {
    .panel, .panel--centered {
      padding-bottom: 1.25rem; } }

.panel--padded, .panel--padded--centered {
  padding-top: 2.125rem; }
  @media (min-width: 769px) {
    .panel--padded, .panel--padded--centered {
      padding-top: 5rem;
      padding-bottom: 2.125rem; } }

/*===== Import grid columns =====*/
/*_grid-columns.scss*/
/**** GRID COLUMNS
*=======================================================================*/
/*===== Calculate grid columns =====*/
@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

/*===== Column styles =====*/
@media (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; } }
@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

/*===== Import grid container =====*/
/*_grid-container.scss*/
/**** GRID CONTAINER
*=======================================================================*/
.grid {
  width: 90%;
  /*===== Make nested grid 100% =====*/
  /*===== Set a max-width for grid container =====*/ }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1050px; } }

/*===== Import panel layout =====*/
/*_panel.scss*/
/**** PANEL LAYOUT
*=======================================================================*/
/*===== Import modules =====*/
/*_index.scss*/
/**** MODULES MANIFEST
*=======================================================================*/
/*===== Import buttons =====*/
/*_buttons.scss*/
/**** BUTTONS
*=======================================================================*/
.btn--default {
  background-color: #009DC4; }
.btn--success {
  background-color: #29AB87; }
.btn--error {
  background-color: #E16865; }
.btn--warning {
  background-color: #FF7F50; }
.btn--info {
  background-color: #3C1F76; }
.btn--background {
  background-color: #222F40; }

[class^="btn--"] {
  margin-bottom: 1.42857rem; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 769px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

/*===== Import design tests =====*/
/*design_tests.scss*/
/**** DESIGN TEST BUTTONS
*=======================================================================*/
.design_test {
  background-color: #B202B2;
  border: 2px solid #000033;
  border-radius: 10px;
  margin: 23.52px 0 32px;
  max-width: 710px; }
  .design_test a {
    color: #E80000;
    font-weight: 600;
    text-decoration: none; }

.test_button {
  display: inline-block;
  background-color: #CBCACA;
  border: 1px solid #000066;
  border-radius: 10px;
  padding: 16px 18px;
  margin: 16px; }

/*===== Hover state =====*/
.design_test a:hover {
  background-color: #4F4F4F;
  color: #31157A; }

/*===== Import placeholder selectors =====*/
/*_extends.scss*/
/**** PLACEHOLDER SELECTORS
*=======================================================================*/
/*===== Buttons =====*/
[class^="btn--"], .form__btn {
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  transition: opacity 0.3s;
  display: block; }
  [class^="btn--"]:hover, .form__btn:hover {
    opacity: .75; }
  [class^="btn--"]:active, .form__btn:active {
    opacity: initial; }

/*===== Headlines =====*/
h1, .headline-primary, .headline-primary--grouped {
  color: #525559;
  font-weight: 300;
  font-size: 2.625rem;
  line-height: 1.09524;
  margin-top: 0; }

h2, .headline-secondary, .headline-secondary--grouped {
  color: #999da1;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5rem;
  font-family: Baskerville, Prata, Garamond, "Baskerville Old Face", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif, serif; }

/*===== Icons =====*/
.icn--nav-toggle, .icn--close {
  line-height: 0;
  cursor: pointer; }

/*===== Navigation items =====*/
@media (min-width: 769px) {
  .nav__item, .nav__item--current {
    display: inline-block;
    margin: 0 0.75rem; } }

.nav__item a, .nav__item--current a {
  font-weight: 300;
  text-align: center;
  font-size: 1.125rem;
  display: block;
  padding: 0.44444rem;
  border-bottom: 1px solid transparent; }
  @media (min-width: 1px) and (max-width: 768px) {
    .nav__item a, .nav__item--current a {
      border-bottom-color: #ebecec;
      padding-top: 0.77778rem;
      padding-bottom: 0.77778rem; } }

.nav__item a:hover, .nav__item--current a {
  color: #0B0B0B;
  border-color: #009DC4; }

/*===== Menu link =====*/
.menu__link, .menu__link--end {
  display: block;
  padding-top: em(16px);
  padding-bottom: 1rem;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px rgba(11, 11, 11, 0.2);
  font-size: 1.125rem; }

/*===== Import form elements =====*/
/*_forms.scss*/
/**** FORM ELEMENTS
*=======================================================================*/
.form__label {
  display: block;
  margin-bottom: 0.625rem; }
.form__input {
  font-size: 1.125rem;
  margin-bottom: 1.11111rem;
  border-bottom: 6px solid #d6d7d9;
  border-radius: 0.4rem;
  background: #ebecec;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #009DC4; }
.form__btn {
  background: #009DC4; }

/*===== Import headlines =====*/
/*_headlines.scss*/
/**** HEADLINES
*=======================================================================*/
.headline-primary {
  margin-bottom: 1.66667rem; }
  .headline-primary--grouped {
    margin-bottom: 0; }
.headline-secondary {
  margin-bottom: 0.91667rem; }
  .headline-secondary--grouped {
    margin-top: 0.41667rem;
    margin-bottom: 2.25rem; }

/*===== Import icons =====*/
/*_icons.scss*/
/**** ICONS
*=======================================================================*/
/*===== Logo =====*/
.site-logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  height: 45px;
  width: 115px;
  display: inline-block; }

/*===== User interface =====*/
.icn {
  /*===== Navigation toggle =====*/
  /*===== Close icon =====*/ }
  .icn--nav-toggle {
    width: 25px;
    height: 17px;
    border-top: solid 3px #797E83;
    border-bottom: solid 3px #797E83;
    position: relative; }
    .icn--nav-toggle:before {
      height: 3px;
      width: 25px;
      background: #999da1;
      top: 4px; }
  .icn--close {
    background-image: url("../images/icn-close.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: 4%;
    top: 4%; }

/*===== Import images =====*/
/*_img.scss*/
/**** IMAGES
*=======================================================================*/
.img--wrap {
  border: 1px solid #d6d7d9;
  padding: 0.75rem; }
.img--avatar {
  display: block;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
@media (min-width: 769px) {
  .img--hero {
    margin-bottom: 2.625rem; } }

/*===== Import menu =====*/
/*_menu.scss*/
/**** MENU
*=======================================================================*/
.menu {
  margin-top: 1.25rem; }
  .menu__link {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }

/*===== Import navigation =====*/
/*_nav.scss*/
/**** NAVIGATION
*=======================================================================*/
.nav {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem; }
  .nav__item a {
    color: #797E83; }

/*===== Import navigation bar =====*/
/*_navbar.scss*/
/**** NAVIGATION BAR
*=======================================================================*/
.navbar {
  position: relative; }
  @media (min-width: 769px) {
    .navbar {
      margin-top: 3.375rem;
      margin-bottom: 0; } }

/*===== Import sad browser =====*/
/*sad_browser.scss*/
/**** SAD BROWSER
*=======================================================================*/
.sad_browser {
  margin: 0.2em 0;
  background: #CCCCCC;
  color: #000000;
  padding: 0.2em 0; }

/*===== Import states =====*/
/*_index.scss*/
/**** STATES MANIFEST
*=======================================================================*/
/*===== Import collapsed states =====*/
/*_collapsed.scss*/
/**** COLLAPSED STATES
*=======================================================================*/
/*===== Import collapsed states =====*/
@media (min-width: 1px) and (max-width: 768px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

/*===== Import grid-display states =====*/
/*_grid-display.scss*/
/**** GRID DISPLAY STATES
*=======================================================================*/
/*===== Mobile display =====*/
@media (min-width: 1px) and (max-width: 768px) {
  .is-displayed-mobile {
    display: block; }
    .is-hidden-mobile {
      display: none; } }
@media (min-width: 769px) {
  .is-displayed-mobile {
    display: none; } }

/*===== Import design test button states =====*/
/*design_tests.scss*/
/**** DESIGN TEST BUTTON STATES
*=======================================================================*/
/*===== Hover state =====*/
.design_test a:hover {
  background-color: #4F4F4F;
  color: #31157A; }

/*===== Import themes =====*/
/*_index.scss*/
/**** STATES THEMES
*=======================================================================*/
/*===== Import plugins =====*/

/*# sourceMappingURL=main.css.map */
