// _footer-root.scss

////= Footer/Root Styling
//===========================================================================//

.root {
  font-size: $md-font-size;
  padding: pxem(80px) 0;

  @include respond-to('md') {
    background-color: rgba($cloud-burst, 0.7);
    padding: pxem(200px) 0 pxem(50px);
  }

  small {
    color: $secondary-color;
    float: none;
    margin: pxem(10px) 0 0;
  }
}
