/*_buttons.scss*/

/**** BUTTONS
*=======================================================================*/
.btn {
  // @include bg-colors($ui-colors)
  @include bdr-colors($ui-colors)
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  @extend %fil-actn;

  @include medq(split-md) {
    margin: auto rem(15px);
  //   width: auto;
  //   display: inline-block;
  //   @include doubly(20px);
  }

  padding: rem(15px) rem(30px);
  margin-bottom: rem(10px, 14px);
  width: auto;
  display: inline-block;

    @include medq(split-sm) {
    width: 100%;
    display: block;
  }



}
