/*_buttons.scss*/

/**** BUTTONS
*=======================================================================*/
.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: rem(10px, 14px);
  @include mq(small) {
    width: 100%;
  }

  @include mq(medium) {
    width: auto;
    display: inline-block;
    @include doubly(20px);
  }

}
