/*_buttons.scss*/

/**** BUTTONS
*=======================================================================*/
.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  @extend %dim-actn;

  @include mq(split-md) {
  margin: auto rem(15px);
  //   width: auto;
  //   display: inline-block;
  //   @include doubly(20px);
  }

  padding: rem(15px) rem(30px);
  margin-bottom: rem(10px, 14px);
  width: auto;
  display: inline-block;

    @include mq(split-sm) {
    width: 100%;
    display: block;
  }
}
