/*design_tests.scss*/

/**** DESIGN TESTS
*=======================================================================*/
.design_test {
  background-color: #B202B2;
  border: 0.125rem solid #000033;
  border-radius: 0.625rem;
  margin: 1.47rem 0 2rem;
  max-width: 40.4rem;
  a {
    color: #E80000;
    font-weight: 600;
    text-decoration: none;
  }
}

.test_button {
  display: inline-block;
  background-color: #CBCACA;
  border: 0.0625rem solid #000066;
  border-radius: 0.625rem;
  padding: 1rem 1.125rem;
  margin: 1rem;
}

/*===== State =====*/
.design_test a:hover {
  background-color: #4F4F4F;
  color: #31157A;
}
