/*design_tests.scss*/

/**** DESIGN TEST BUTTONS
*=======================================================================*/
.design_test {
  background-color: #B202B2;
  border: 2px solid #000033;
  border-radius: 10px;
  margin: 23.52px 0 32px;
  max-width: 710px;
  a {
    color: #E80000;
    font-weight: 600;
    text-decoration: none;
  }
}

.test_button {
  display: inline-block;
  background-color: #CBCACA;
  border: 1px solid #000066;
  border-radius: 10px;
  padding: 16px 18px;
  margin: 16px;
}

/*===== Hover state =====*/
.design_test a:hover {
  background-color: #4F4F4F;
  color: #31157A;
}
