/*_extends.scss*/

/**** BASE STYLE EXTENSTION PLACEHOLDER SELECTORS
*=======================================================================*/
/*===== Arrow (slideshow) features =====*/
%arrw {
  box-shadow: rem(2px) rem(-2px) 0 rem(1px) palette(grey, light);
  cursor: pointer;
  margin: rem(2.5px);
  padding: rem(10.3px);
  position: absolute;
  transition: opacity $trnstn-quick;

  &:hover {
    box-shadow: rem(2px) rem(-2px) 0 rem(1px) palette(grey, x-light);
  }

  &:before {
    content: '';
    position: absolute;
  }

}

/*===== Button features =====*/
%btn {
  padding: rem(12px) rem(24px);
  border: 0;
  border-radius: $br--default;
  color: palette(white, base);
  text-transform: uppercase;
  font-size : rem(16px);
  font-family: $font-family--default;
  font-weight: $font-weight--medium;
  transition: opacity $trnstn-quick;
}

/*===== Case features =====*/
%case-xtn {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  width: 100%;
}

/*===== Dimmer action features =====*/
%dim-actn {

  &:hover {
    opacity: .67;
  }

  &:active {
    opacity: initial;
  }

}

/*===== Headline features =====*/
%hdln-prim {
  color: palette(white, base);
  font-family: $font-family--primary;
  font-weight: $font-weight--demi-bold;
  line-height: (46px / 42px);
  margin-top: 0;

  @include mq(x-large) {
    font-size: rem(80px);
  }

  @include mq(large) {
    font-size: rem(78px);
  }

  @include mq(medium) {
    font-size: rem(76px);
  }

  @include mq(small) {
    font-size: rem(74px);
  }

  @include mq(x-small) {
    font-size: rem(72px);
  }

  @include mq(u-small) {
    font-size: rem(40px);
  }

}

%hdln-sec {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;

  @include mq(x-large) {
    font-size: rem(31px);
  }

  @include mq(large) {
    font-size: rem(30px);
  }

  @include mq(medium) {
    font-size: rem(29px);
  }

  @include mq(small) {
    font-size: rem(28px);
  }

  @include mq(x-small) {
    font-size: rem(27px);
  }

  @include mq(u-small) {
    font-size: rem(21px);
  }

}

%hdln-ter {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--tertiary;
  font-weight: $font-weight--medium;

  @include mq(x-large) {
    font-size: rem(24px);
  }

  @include mq(large) {
    font-size: rem(23px);
  }

  @include mq(medium) {
    font-size: rem(22px);
  }

  @include mq(small) {
    font-size: rem(21px);
  }

  @include mq(x-small) {
    font-size: rem(19px);
  }

  @include mq(u-small) {
    font-size: rem(13px);
  }

}

%hdln-pla {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--default;
  font-weight: $font-weight--demi-bold;
  font-size: rem(18px);
}

/*===== Icon features =====*/
%icn--ui {
  line-height: 0;
  cursor: pointer;
}

/*===== Image features =====*/
%img-hlpr {
  display: block;
  // margin-top: rem(24px);
  margin-right: auto;
  margin-left: auto;
}


/*===== Navigation item features =====*/
%nav-item-horz {

  @include medq(split-md) {
    display: inline-block;
    margin: 0 rem(12px);
  }

}

%nav-item-link {
  border-bottom: rem(1px) solid transparent;
  display: block;
  font-size: rem(18px);
  font-weight: $font-weight--light;
  padding: rem(8px, 18px);
  text-align: center;
  transition: opacity $trnstn-quick;

  @include medq(split-sm) {
    border-bottom-color: palette(grey, xx-light);
    padding-top: rem(14px, 18px);
    padding-bottom: rem(14px, 18px);
  }

}

%nav-item-on {
  color: palette(grey, x-light);
  border-color: $color-primary;
}

/*===== Menu link features =====*/
%menu-link {
  display: block;
  padding-top: rem(16px);
  padding-bottom: rem(16px);
  color: palette(white, base);
  text-align: center;
  text-shadow: 0 rem(1px) $color-shadow;
  font-size: rem(18px);
}

/*===== Paragraph features =====*/
%prgrph-prim {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--default;
  font-weight: $font-weight--thin;
  line-height: (27px / 18px);

  @include mq(x-large) {
    font-size: rem(20px);
  }

  @include mq(large) {
    font-size: rem(19px);
  }

  @include mq(medium) {
    font-size: rem(18px);
  }

  @include mq(small) {
    font-size: rem(17px);
  }

  @include mq(x-small) {
    font-size: rem(16px);
  }

  @include mq(u-small) {
    font-size: rem(13px);
  }

}

/*===== Side-scroller features =====*/
%scrllr {
  padding: 0 rem(1px);
  position: absolute;
  top: -6.5%;
  width: 100%;
  z-index: 100;
}

/*===== Slideshow scroller features =====*/
%sld-scrllr {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: normal;
  vertical-align: top;
  white-space: normal;
}
