/*_extends.scss*/

/**** BASE STYLE EXTENSTION PLACEHOLDER SELECTORS
*=======================================================================*/
/*===== Buttons =====*/
%btn {
  padding: 15px 30px;
  border: 0;
  border-radius: $br--default;
  color: palette(white, base);
  text-transform: uppercase;
  font-size : rem(17px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-x-quick;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

/*===== Headlines =====*/
%hdln-prim {
  color: palette(white, base);
  font-family: $font-family--primary;
  font-weight: $font-weight--demi-bold;
  font-size: rem(52px);
  line-height: (46px / 42px);
  margin-top: 0;
}

%hdln-sec {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  font-size: rem(30px);
}

%hdln-ter {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-weight: $font-weight--medium;
  font-size: rem(22px);
}

/*===== Paragraphs =====*/
%prgrph-prim {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-weight: $font-weight--normal;
  font-size: rem(18px);
  line-height: (27px / 18px);
}

/*===== Icons =====*/
%icn--ui {
  line-height: 0;
  cursor: pointer;
}

/*===== Navigation items =====*/
%nav-item-horz {
  @include mq(medium) {
    display: inline-block;
    margin: 0 rem(12px);
  }
}

%nav-item-link {
  font-weight: $font-weight--light;
  text-align: center;
  font-size: rem(18px);
  display: block;
  padding: rem(8px, 18px);
  border-bottom: 1px solid transparent;
  @include mq(small) {
    border-bottom-color: palette(grey, xx-light);
    padding-top: rem(14px, 18px);
    padding-bottom: rem(14px, 18px);
  }
}

%nav-item-on {
  color: $milano-red;
  border-color: $color-primary;
}

/*===== Menu link =====*/
%menu-link {
  display: block;
  padding-top: em(16px);
  padding-bottom: rem(16px);
  color: $white;
  text-align: center;
  text-shadow: 0 1px $color-shadow;
  font-size: rem(18px);
}
