/*_extends.scss*/

/**** BASE STYLE EXTENSTION PLACEHOLDER SELECTORS
*=======================================================================*/
/*===== Arrow (slideshow) features =====*/
%arrw {
  box-shadow: rem(2px) rem(-2px) 0 rem(1px) palette(grey, light);
  cursor: pointer;
  margin: rem(2.5px);
  padding: rem(10.3px);
  position: absolute;
  transition: opacity $trnstn-quick;

  &:hover {
    box-shadow: rem(2px) rem(-2px) 0 rem(1px) palette(grey, x-light);
  }

  &:before {
    content: '';
    position: absolute;
  }

}

/*===== Bump action features =====*/
%bmp-actn {

  &:hover {
    background-color: $guardsman-red;
  }

}

/*===== Button features =====*/
%btn {
  border-radius: $br--default;
  color: palette(white, base);
  text-transform: uppercase;
  font-size : rem(16px);
  font-family: $font-family--default;
  font-weight: $font-weight--medium;
  padding: rem(12px) rem(24px);
}

/*===== Button transition info =====*/
%bmp-actn {

  &:hover {
    -webkit-animation: bump background-color $trnstn-x-quick linear 1;
    -moz-animation: bump background-color $trnstn-x-quick linear 1;
    -o-animation: bump background-color $trnstn-x-quick linear 1;
    animation: bump background-color $trnstn-x-quick linear 1;
    // -webkit-animation-duration: 0.3s;
    // -moz-animation-duration: 0.3s;
    // -ms-animation-duration: 0.3s;
    // -o-animation-duration: 0.3s;
    // animation-duration: 0.3s;
    // -webkit-animation-timing-function: linear;
    // animation-timing-function: linear;
    // -webkit-animation-iteration-count: 1;
    // animation-iteration-count: 1;
  }

}

/*===== Case features =====*/
%case-xtn {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  width: 100%;
}

/*===== Dimmer action features =====*/
%dim-actn {

  &:hover {
    opacity: .67;
  }

  &:active {
    opacity: initial;
  }

}

/*===== Filler action features =====*/
%fil-actn {

  &:hover {
    background-color: $guardsman-red;
  }

}

/*===== Headline features =====*/
%hdln-prim {
  color: palette(white, base);
  font-family: $font-family--primary;
  font-weight: $font-weight--demi-bold;
  line-height: rem(80px);
  // line-height: (46px / 42px);
  // margin-top: 0;
  margin-top: rem(300px);
  margin-bottom: rem(40px);
//   text-align: center;
  width: 100%;
}

%hdln-prim-mjr {

  @include mq(x-large) {
    font-size: rem(80px);
  }

  @include mq(large) {
    font-size: rem(72px);
  }

  @include mq(medium) {
    font-size: rem(64px);
  }

  @include mq(small) {
    font-size: rem(56px);
  }

  @include mq(x-small) {
    font-size: rem(48px);
  }

  @include mq(u-small) {
    font-size: rem(40px);
  }

}

%hdln-prim-mnr {

  @include mq(x-large) {
    font-size: rem(33px);
  }

  @include mq(large) {
    font-size: rem(31.75px);
  }

  @include mq(medium) {
    font-size: rem(30.5px);
  }

  @include mq(small) {
    font-size: rem(29.25px);
  }

  @include mq(x-small) {
    font-size: rem(28px);
  }

  @include mq(u-small) {
    font-size: rem(15px);
  }

}

%hdln-sec {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;

  @include mq(x-large) {
    font-size: rem(31px);
  }

  @include mq(large) {
    font-size: rem(29.85px);
  }

  @include mq(medium) {
    font-size: rem(28.7px);
  }

  @include mq(small) {
    font-size: rem(27.55px);
  }

  @include mq(x-small) {
    font-size: rem(26.4px);
  }

  @include mq(u-small) {
    font-size: rem(16px);
  }

}

%hdln-ter {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--tertiary;
  font-weight: $font-weight--normal;

  @include mq(x-large) {
    font-size: rem(25px);
  }

  @include mq(large) {
    font-size: rem(24.375px);
  }

  @include mq(medium) {
    font-size: rem(23.75px);
  }

  @include mq(small) {
    font-size: rem(23.125px);
  }

  @include mq(x-small) {
    font-size: rem(22.5px);
  }

  @include mq(u-small) {
    font-size: rem(13px);
  }

}

%hdln-pla {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--default;
  font-weight: $font-weight--demi-bold;
  font-size: rem(18px);
}

/*===== Icon features =====*/
%icn--ui {
  line-height: 0;
  cursor: pointer;
}

/*===== Image features =====*/
%img-hlpr {
  display: block;
  //// margin-top: rem(24px);
  margin: 0 auto;
}


/*===== Navigation item features =====*/
%nav-item-horz {

  @include medq(split-md) {
    display: inline-block;
    margin: 0 rem(12px);
  }

}

%nav-item-link {
  border-bottom: rem(1px) solid transparent;
  display: block;
  font-size: rem(18px);
  font-weight: $font-weight--light;
  padding: rem(8px, 18px);
  text-align: center;
  transition: opacity $trnstn-quick;

  @include medq(split-sm) {
    border-bottom-color: palette(grey, xx-light);
    padding-top: rem(14px, 18px);
    padding-bottom: rem(14px, 18px);
  }

}

%nav-item-on {
  color: palette(grey, x-light);
  border-color: $color-primary;
}

/*===== Menu link features =====*/
%menu-link {
  display: block;
  padding-top: rem(16px);
  padding-bottom: rem(16px);
  color: palette(white, base);
  text-align: center;
  text-shadow: 0 rem(1px) $color-shadow;
  font-size: rem(17px);
}

/*===== Paragraph features =====*/
%prgrph-prim {
  color: palette(white, base);
  letter-spacing: $letter-space;
  font-family: $font-family--default;
  font-weight: $font-weight--thin;
  line-height: (27px / 18px);

  @include mq(x-large) {
    font-size: rem(20px);
  }

  @include mq(large) {
    font-size: rem(19px);
  }

  @include mq(medium) {
    font-size: rem(18px);
  }

  @include mq(small) {
    font-size: rem(17px);
  }

  @include mq(x-small) {
    font-size: rem(16px);
  }

  @include mq(u-small) {
    font-size: rem(13px);
  }

}

/*===== Radio-button transition info =====*/
%rdo-bckgrnd {
  -webkit-transition: background-color $trnstn-x-quick linear;
  -moz-transition: background-color $trnstn-x-quick linear;
  -o-transition: background-color $trnstn-x-quick linear;
  transition: background-color $trnstn-x-quick linear;
}

/*===== Side-scroller features =====*/
%scrllr {
  padding: 0 rem(1px);
  position: absolute;
  top: -6.5%;
  width: 100%;
  z-index: 100;
}

/*===== Slideshow scroller features =====*/
%sld-scrllr {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: normal;
  vertical-align: top;
  white-space: normal;
}
