/*_headlines.scss*/

/**** HEADLINES
*=======================================================================*/
.headline {

  &-primary {
    @extend %hdln-prim;
    @extend %hdln-prim-mjr;
    margin-bottom: rem(70px, 42px);

    @include m(grouped) {
      @extend %hdln-prim;
      @extend %hdln-prim-mjr;
    }

    @include m(minor) {
      @extend %hdln-prim;
      @extend %hdln-prim-mnr;
    }

  }

  &-secondary {
    @extend %hdln-sec;
    margin-bottom: rem(22px, 24px);

    @include m(grouped) {
      @extend %hdln-sec;
      margin-top: rem(10px, 24px);
      margin-bottom: rem(54px, 24px);
    }

  }

  &-tertiary {
    @extend %hdln-ter;
    margin-bottom: rem(22px, 24px);

    @include m(grouped) {
      @extend %hdln-ter;
      margin-top: rem(10px, 24px);
      margin-bottom: rem(54px, 24px);
    }

  }

  &-plaque {
    @extend %hdln-pla;
    // margin-bottom: rem(22px, 24px);
    margin-bottom: 0;
  }

}
