/*_icons.scss*/

/**** ICONS
*=======================================================================*/
/*===== Logo =====*/
.site-logo {
  @include img-replace("logo.svg", rem(115px), rem(45px), inline-block);
}

/*===== User interface =====*/
.icn {

  /*===== Navigation toggle =====*/
  @include m(nav-toggle) {
    @extend %icn--ui;
    width: 25px;
    height: 17px;
    border-top: solid 3px palette(grey, light);
    border-bottom: solid 3px palette(grey, light);
    position: relative;

    @include p-el(before, 25px, 3px) {
      background: palette(grey, light);
      top: 4px;
    }

  }

  /*===== Close icon =====*/
  @include m(close) {
    @extend %icn--ui;
    @include img-replace("icn-close.svg", 20px, 20px);
    position: absolute;
    right: 4%;
    top: 4%;
  }

}
