/*_img.scss*/

/**** IMAGES
*=======================================================================*/
.img {

  @include m(wrap) {
    border: rem(1.5px) solid palette(grey, base);
    background-color: palette(grey, light);
    padding: rem(2px);
  }

  @include m(avatar) {
    @extend %img-hlpr;
    border-radius: $br--round;
  }

  @include m(project-mnr) {
    @extend %img-hlpr;
    border-radius: $br--default;
    max-width: rem(300px);
    max-height: rem(300px);
    background-color: transparent;
  }

  // @include m(hero) {

  //   @media (min-width: 769px) {
  //     margin-bottom: rem(42px);
  //   }

  // }

}
