/*_img.scss*/

/**** IMAGES
*=======================================================================*/
.img {

  @include m(wrap) {
    border: rem(1.5px) solid palette(grey, base);
    background-color: palette(grey, light);
    padding: rem(2px);
  }

  @include m(avatar) {
    @extend %img-hlpr;
    border-radius: $br--round;
  }

  @include m(project-preview) {
    @extend %dim-actn;
    @extend %img-hlpr;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: $br--default;
    // width: rem(320px);
    margin-top: rem(20px);
    // min-width: rem(250px);
    transition: opacity $trnstn-quick;

    @include medq(split-lg) {
      width: rem(320px);
    }

    @include medq(split-md) {
      margin-bottom: rem(70px);
      width: 100%;
    }

  }

  // @include m(hero) {

  //   @media (min-width: 769px) {
  //     margin-bottom: rem(42px);
  //   }

  // }

}
