/*_navbar.scss*/

/**** NAVIGATION BAR
*=======================================================================*/
.navbar {
  position: relative;

  @include medq(split-md) {
    margin-top: rem(53px);
    margin-bottom: 0;
  }

}
