/*_nav.scss*/

/**** NAVIGATION
*=======================================================================*/
.nav {
  margin-top: rem(20px);
  margin-bottom: rem(30px);

  @include e(item) {
    @extend %nav-item-horz;
    a {
      @extend %nav-item-link;
      color: palette(grey);
      &:hover {
        @extend %nav-item-on;
      }
    }

    @include m(current) {
      @extend %nav-item-horz;
      a {
        @extend %nav-item-link;
        @extend %nav-item-on;
      }
    }

  }
}
