/*_navbar.scss*/

/**** NAVIGATION BAR
*=======================================================================*/
.navbar {
  position: relative;
  @include mq(medium) {
    margin-top: rem(54px);
    margin-bottom: 0;
  }
}
