/*sad_browser.scss*/

/**** SAD BROWSER
*=======================================================================*/
.sad_browser {
  margin: 0.2em 0;
  background: #CCCCCC;
  color: #000000;
  padding: 0.2em 0;
}
