/*_slideshow.scss*/

/**** SLIDESHOW
*=======================================================================*/
.slideshow {
  display: inline-block;
  position: relative;
  margin-bottom: rem(15px);

  > input {
    display: none;

      @include medq(split-md) {

        &:nth-of-type(1):checked ~ ul li:first-of-type {
          margin-left: 0%;
        }

        &:nth-of-type(2):checked ~ ul li:first-of-type {
          margin-left: -100.7%;
        }

        &:nth-of-type(3):checked ~ ul li:first-of-type {
          margin-left: -200.7%;
        }

        &:nth-of-type(4):checked ~ ul li:first-of-type {
          margin-left: -301%;
        }

        &:nth-of-type(5):checked ~ ul li:first-of-type {
          margin-left: -401%;
        }

        &:nth-of-type(6):checked ~ ul li:first-of-type {
          margin-left: -501%;
        }

      }

      @include medq(split-sm) {

        &:nth-of-type(1):checked ~ ul li:first-of-type {
          margin-left: -1%;
        }

        &:nth-of-type(2):checked ~ ul li:first-of-type {
          margin-left: -101.7%;
        }

        &:nth-of-type(3):checked ~ ul li:first-of-type {
          margin-left: -203%;
        }

        &:nth-of-type(4):checked ~ ul li:first-of-type {
          margin-left: -303.5%;
        }

        &:nth-of-type(5):checked ~ ul li:first-of-type {
          margin-left: -405%;
        }

        &:nth-of-type(6):checked ~ ul li:first-of-type {
          margin-left: -506%;
        }

      }




  }

  ul {
    position: relative;
    height: rem(500px);
    line-height: 0;
    background-color: transparent;
    border-radius: $br--default;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;

    @include medq(split-sm) {
      border: rem(1px) solid palette(black, base);
    }

  }

  &.looper {

    > input:first-of-type:checked ~ .side-scroller label.jump-end, input:nth-of-type(1):checked ~ .side-scroller > label:nth-of-type(0), input:nth-of-type(2):checked ~ .side-scroller > label:nth-of-type(1), input:nth-of-type(3):checked ~ .side-scroller > label:nth-of-type(2), input:nth-of-type(4):checked ~ .side-scroller > label:nth-of-type(3), input:nth-of-type(5):checked ~ .side-scroller > label:nth-of-type(4), input:nth-of-type(6):checked ~ .side-scroller > label:nth-of-type(5), input:nth-of-type(7):checked ~ .side-scroller > label:nth-of-type(6) {
      display: block;
      right: auto;
      left: 2.5%;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
    }

    > input:last-of-type:checked ~ .side-scroller label.jump-start, input:nth-of-type(1):checked ~ .side-scroller > label:nth-of-type(2), input:nth-of-type(2):checked ~ .side-scroller > label:nth-of-type(3), input:nth-of-type(3):checked ~ .side-scroller > label:nth-of-type(4), input:nth-of-type(4):checked ~ .side-scroller > label:nth-of-type(5), input:nth-of-type(5):checked ~ .side-scroller > label:nth-of-type(6), input:nth-of-type(6):checked ~ .side-scroller > label:nth-of-type(7) {
      display: block;
      right: 2.5%;
      left: auto;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }

}

.side-scroller {
  @extend %scrllr;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .arrow {
    @extend %arrw;
    display: none;
  }

}

.overscroll {
  @extend %sld-scrllr;
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: all $trnstn-medium $trnstn-show-box;
  -moz-transition: all $trnstn-medium $trnstn-show-box;
  -o-transition: all $trnstn-medium ease-out;
  transition: all $trnstn-medium $trnstn-show-box;

  p {
    padding: rem(15px);
  }

}
