// _work.scss

////= Work Module
//============================================================================//

.work-list {
  padding: pxem(55px) 0;

  .work {
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -webkit-perspective: 1000;
    perspective: 1000;

    &:focus div,
    &:hover div {
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

  aside {
    border: 1px solid rgba($black, 0.4);
    border-radius: $secondary-radius;
    color: $wild-sand;
    display: block;
    height: pxrem(215px);
    width: pxrem(215px);
  }

  div {
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: $primary-duration;
    -o-transition: $primary-duration;
    -webkit-transition: $primary-duration;
    transition: $primary-duration;
  }

  h6 {
    @extend .center-align;
    margin: pxem(10px) 0;
  }

  li {
    display: inline-block;
    margin: pxem(10px) 30%;
    vertical-align: middle;

    @include respond-to('sm') {
      margin: 0 pxem(8.5px);
    }

    @include respond-to('md') {
      margin: 0 pxem(20px);
    }
  }

  p {
    line-height: 1.35;
    padding: 0 pxem(20px) pxem(20px);
    text-align: left;
  }

  .project {
    [data-work="work-front"] {
      background-image: -webkit-linear-gradient(top left, $fuchsia, $electric-violet);
      background-image: linear-gradient(to bottom right, $fuchsia, $electric-violet);
    }
  }

  .raptorframe {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORFrame-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORFrame-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .businessmuumuu {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORFrame-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORFrame-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .raptorsmacss {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORSMACSS-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/RAPTORSMACSS-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .application {
    [data-work="work-front"] {
      background-image: -webkit-linear-gradient(top right, $fuchsia, $electric-violet);
      background-image: linear-gradient(to bottom left, $fuchsia, $electric-violet);
    }
  }

  .kittyparty {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/KittyParty-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/KittyParty-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .ourhouse {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/OurHouse-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/OurHouse-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .website {
    [data-work="work-front"] {
      background-image: -webkit-linear-gradient(bottom right, $electric-violet, $fuchsia);
      background-image: linear-gradient(to top left, $electric-violet, $fuchsia);
    }
  }

  .suitandcape {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/SuitAndCape-700x700.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/SuitAndCape-700x700.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  .e-dapp {
    [data-work="work-back"] {
      background: -webkit-linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/e-dapp-500x500.png') no-repeat;
      background: linear-gradient(rgba($black, 0.45), rgba($black, 0.45)), url($path-work + '/e-dapp-500x500.png') no-repeat;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }

  [data-work="work-front"],
  [data-work="work-back"] {
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    top: 0;
  }

  [data-work="work-front"] {
    z-index: 2;
  }

  [data-work="work-back"] {
    position: absolute;
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.project-list,
.website-list {
  background-color: $secondary-bg-color;
}

.application-list {
  background-color: $primary-bg-color;
}
